<div type="user-info-dialog" cdi-form-check>
    <div class="btnGroup">
        <button class="btn cdi-btn-default left" ng-click="cancel()">取消</button>
        <button class="btn cdi-btn-blue right btn-save">保存</button>
        <div class="title">用户信息</div>
    </div>
    <div ng-controller="">
        <div class="content user-info" style="margin-top:10px;">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">姓名／名称</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="text" name="name" ng-model="data.item.name" class="right form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">电子邮件地址</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input ng-disabled="true" type="text" ng-model="data.item.email" class="right form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">微信账号</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="text" ng-model="data.item.weichatId" class="right form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="cell title" style="width: 37%;height: 45px;">注册日期</div>
                <div class="cell" style="width: 63%;height: 45px;">
                    <span class="date right">2014-10-10</span>
                </div>
            </div>
        </div>
        <div class="slider2" style="margin-top: 16px;"></div>
        <div class="content">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">用户状态</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <select ng-model="currentUserStatus" ng-change="changeUserStatus()" ng-options="userStatus.label for userStatus in userStatuss" class="form-control right" style="width: 72px;" ng-disabled="!currentUser.priorityGroup.canModifyUserGroup">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="cell title" style="width: 37%;height: 57px;">权限组</div>
                <div class="cell" style="width: 63%;height: 57px;">
                    <select ng-model="currentUserPriority" ng-change="changeUserPriority()" ng-options="userPriority.label for userPriority in userPrioritys" class="form-control right" style="width: 185px;" ng-disabled="!currentUser.priorityGroup.canModifyPriorityGroup">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>