<lab-header></lab-header>
<div class="container">
    <div class="info-main-container">
        <div class="avatar" height="100" width="100">
            <img ng-src="images/yeoman.png" src="images/yeoman.png" style="width:100%;"/>

        </div>
        <div class="name">
            Yiliang Guo
        </div>
        <div class="major-group">
            <span style="color:#e5004f;">软件工程</span>&nbsp;&nbsp;&nbsp;<span style="color:#969696;">Administrator</span>
        </div>

        <div class="btnGroup" style="width: 310px;">
            <button class="btn cdi-btn-default">上传新头像</button>
            <button class="btn cdi-btn-default" ng-click="editProfile()">编辑个人信息</button>
            <button class="btn cdi-btn-default" ng-click="resetPasswrod()">修改密码</button>
        </div>
    </div>

</div>

